nav {
    background: #333333;
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 50;
}
nav ul, .nav-bottom ul{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 10px;
}

nav ul li, .nav-bottom ul li{
    border-radius: 5px;
}

nav ul li:first-child{
    border-radius: 10px;
}

nav ul li:not(.divider), .nav-bottom ul li{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.nav-bottom ul li{
    padding: 1vw;
    border-radius: 0.5vw;
}

nav ul li:not(.active):hover, .nav-bottom ul li:not(.active):hover{
    background-color: #00000027;
    cursor: pointer;
    transition: 200ms;
  
}

.active{
    background-color: #111111;
    cursor: pointer;
    transition: 200ms;
}

nav ul li:last-child{
    border: none;
}


.menus{
    display: flex;
    gap: 200px;
}
.divider{
    background-color: #505050;
    width: 1px;
    height: 100%;
}

@media screen and (max-height:300px) {
    nav{
        border: 1px solid red;
        transform: translateY(-75px);
        transition: 200ms;
    }
    main{
        margin-top: 0;
    }
}